# DON'T CHANGE THIS FILE, PLEASE EDIT .envrc.private INSTEAD.
source_env .direnv/.envrc

# https://github.com/microsoft/pyright/issues/3880
export SETUPTOOLS_ENABLE_FEATURES="legacy-editable"

# Output folder.
export VKIT_OPEN_MODEL_DATA=$(expand_path ../vkit-open-model-data)
mkdir -p "$VKIT_OPEN_MODEL_DATA"

# Private data. (and will not open source)
export VKIT_PRIVATE_DATA=$(expand_path ../vkit-private-data)

source_env_if_exists .envrc.private
